.about-glass-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background:transparent;
    padding: 3rem 0rem;
  }
  
  .about-glass-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
    background: rgba(255, 255, 255, 0.03);
    border: 1px solid rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border-radius: 16px;
    -webkit-backdrop-filter: blur(12px);
    padding: 2.5rem 3rem;
    max-width: 900px;
    width: 100%;
    transition: all 0.3s ease;
  }

  .about-glass-card:hover {
    transform: translateY(-4px);
    border-color: rgba(59, 130, 246, 0.3);
    box-shadow: 0 4px 20px rgba(59, 130, 246, 0.1);
  }
  
  .about-profile-img {
    width: 200px;
    height: auto;
    object-fit: contain;
    border-radius: 18px;
    /* border: 1px solid #fff; */
    box-shadow: 0 4px 24px 0 rgba(0,0,0,0.3);
    transition: all 0.3s ease;
  }

  .about-profile-img:hover {
    transform: translateY(-4px);
    border-color: rgba(59, 130, 246, 0.3);
    box-shadow: 0 4px 20px 10px rgba(120, 105, 255, 0.1);
  }
  
  .about-info {
    color: #a7a7a7;
    flex: 1;
  }
  
  .about-info h2 {
    margin: 0 0 1rem 0;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 1px;
  }
  
  .about-info p {
    margin: 0;
    font-size: 1.1rem;
    line-height: 1.6;
  }

  @media (max-width: 700px){
    .about-glass-card{
        padding: 2rem 1rem;
    }
  }
  
  /* Responsive Design */
  /* @media (max-width: 700px) {
    .about-glass-card {
      flex-direction: column;
      align-items: center;
      padding: 1.5rem 1rem;
      gap: 1.5rem;
      width: auto;
    }
    .about-profile-img {
      width: 140px;
      height: 140px;
    }
    .about-info h2 {
      font-size: 1.5rem;
    }
    .about-info p {
      font-size: 1rem;
    }
  } */